<div id="Footer">
	<div class="ColumnRight">
		<div id="Footer_Nav">
			<h3>More Articals:</h3>
			<ul>
				{% include navigation.html %}
			</ul>
		</div>
	</div>
	<div class="ColumnLeft">
		<div id="Footer_Message">
			<p>
				Change ourselves, Teach our children, Help others.<br />
				Here, the pen becomes the sword.
			</p>
		</div>
		<div id="Footer_Logo_Copyright_Wrapper">
		<div class="Logo"><a href="{{ site.baseurl }}/" title="Home">{{ site.name }}</a></div>
			<p id="Copyright">&copy; 2010 TheWarOnIgnorance.org</p>
		</div>
	</div>
</div><!--Footer-->