<div id="Header">
	<div class="Logo"><a href="{{ site.baseurl }}/" title="Home">{{ site.name }}</a></div>

	<div id="GoogleSearch" style="position:absolute; right:2em; bottom:1em;">
		<label for="googlesearch" style="font-weight:bold;">Search for knowledge:</label>

		<form action="http://www.google.com/cse" id="cse-search-box" target="_blank">
			<div>
				<input type="hidden" name="cx" value="partner-pub-0108143917541488:76u9lg1u9m1" />
				<input type="hidden" name="ie" value="ISO-8859-1" />
				<input type="text" id="googlesearch" name="q" size="31" />
				<input type="submit" name="sa" value="Search" />
			</div>
		</form>

		<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
	</div><!--GoogleSearch-->
</div><!--Header-->

<div id="Nav_Primary">
	<ul>
		{% include navigation.html %}
	</ul>
</div><!--Nav_Primary-->